node_modules
.txt
.anaconda
.atom
.cache
.conda
.config
.cups
.docker
.eclipse
.gradle
.idlerc
.ipynb_checkpoints
.jupyter
.local
.matplotlib
.local
.matplotlib
.mono
.npm
.nvm
.oracle_jre_usage
.p2
.ServiceHub
.cisco
.bitnami
.bash_sessions
.android
.3T
.ipython
.IdentityService
.subversion
.spyder-py3
.ssh
.templateengine
.tooling
.Trash
.vscode
.vue-cli-ui
AdroidStudioProjects
Applications
Calibre Library
Desktop
djangogirls
Documents
Downloads
eclipse
eclipse-workspace
Exercism
Google Drive
Library
Movies
Music
myvenv
Pictures
AndroidStudioProjects
Projects 
Public
Samsung
sql-training
test
Untitled Folder
.bash_history
.lesshst
.mongorc
.oracle_jre_usage
.netrc
gzan86.txt
hatirlatici.kdbx
.vuerc
.viminfo
.python_history
.npmrc
.node_repl_history
.mongorc.js
.Trash
